@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
	list-style: none;
}

a{
    text-decoration: none;
}

nav ul li:hover,
#button:hover{
    opacity: 0.5;
}

.center{
	text-align: center;
}

.color{
	background-color: #45B1DF;
	color: #fff;
}

div#wrapper{
	color: #2C2D31;
	font-family: "Hiragino Sans", "Meiryo", "sans-serif";
}

header{
	background-color: #BDE3F3;
	padding-bottom: 30px;
}

header h1{
    font-family: 'Lobster', cursive;
    font-size: 100px;
}

header h2{
	margin-top: 20px;
	font-size: 30px;
	color: #363843;	
}

header h2 span{
	font-size: 80%;
	color: #585B7B;
}

nav ul{
	margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
	width: 100px;
	padding: 10px;
	border-radius: 6px;
	background-color: #4578DF;
}

nav ul a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

div#top_image img{
	width: 100%;
}

article{
	width: 1200px;
	margin: 0 auto;
	padding: 40px 0 60px;
}

h1.top_border{
	border-left: 10px solid #4578DF;
	border-bottom: 1px dotted #4578DF;
	border-radius: 6px 0 0 0;
	padding: 5px 0 5px 20px;
}

section{
	line-height: 1.8;
	margin-top: 30px;
	padding: 50px;
	background-color: #DAEBF3;
}

section h1{
	color: #585B7B;
	margin-bottom: 15px;
	padding: 5px 0 5px 20px;
	border-left: 8px solid #45B1DF;
	border-bottom: 1px dotted #45B1DF;
	border-radius: 4px 0 0 0;
}

table{
	margin: auto;
	border: 1px solid #4578DF;
	border-radius: 6px;
	width: 75%;
}

#col1{
	width: 35%;
}

#col2{
	width: 45%;
}

#col3{
	width: 20%;
}

th{ 
	background-color: #4578DF;
	color: #fff;
	border: 1px solid #4578DF;
	border-radius: 3px;
	padding: 3px;
}

th.border-right{
	border-right: 1px solid #DAEBF3;
}

td{
	border: 1px solid #4578DF;
	border-radius: 3px;
	padding: 3px 3px 3px 10px;
	background-color: #fff;
}

footer{
	height: 45px;
	padding-top: 20px;
}

form{
	width: 80%;
	margin: auto;
}

fieldset{
	border: 1px solid #4578DF;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 6px;
	padding: 18px 40px 20px 20px;
}

legend{
	color: #fff;
	background-color: #4578DF;
	width: 150px;
	padding: 3px 3px 3px 20px;
	border-radius: 6px;
}

#name,#mail{
    height: 20px;
}

#name{
	width: 30%;
}

#mail{
	width: 50%;
}

#para{
	width: 100%;
	line-height: 60px;
	padding-left: 20px;
}

#button{
	color: #fff;
	background-color: #4578DF;
	width: 100px;
	padding: 5px;
	border: none;
	border-radius: 6px;
    font-size: 18px;
}