@charset "utf-8";
/* CSS Document */

/* ========================================
    リセットcss
========================================= */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}


/*========================================
　レイアウト
========================================*/
.kaisei-decol-regular {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	color: #545555;
	border-top: 10px solid #a2ad78;
	background: url("images/bg.png");
}

div#wrapper{
	width: 1400px;
	margin: 0 auto;
}

.box-shadow{
	box-shadow: 0 2px 7px rgba(83,78,61,0.3);
}

/*========================================
　ヘッダー
========================================*/
header{
	width: 1400px;
	height: 120px;
	position: relative;
}

div#header_inner{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

div#logo{
	display: flex;
	align-items: center;
	margin-top: 50px;
}

h1{
	font-size: 50px;
	font-weight: bold;
	margin: 0 auto;
	line-height: 1;
}

h1 span{
	font-size: 25px;
}

h2{
	font-size: 30px;
	font-weight: bold;
	margin: 0 auto;
	line-height: 1;
}

nav ul{
	display: flex;
	margin-bottom: 10px;
}

nav ul li{
	margin-left: 30px;
}

nav ul li a{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: #545555;
	font-size: 18px;
	font-weight: bold;
	
}

nav ul li a:hover{
	color: #a2ad78;
	text-decoration: underline 3px solid #a2ad78;
}

p#information{
	position: absolute;
	top: 10px;
	right: 0;
}
/*========================================
　メイン画像
========================================*/
div#mainimage{
	width: 1380px;
	height: 580px;
	margin-bottom: 30px;
	border: 10px solid #fff;
}

/*========================================
　コンテンツ(レイアウト)
========================================*/
div#container{
	display: flex;
}

h3{
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	line-height: 1;
}

/*========================================
　レフト
========================================*/
div#program{
	width: 500px;
	height: 150px;
	background-color: beige;
	margin-bottom: 10px;
}
div#left{
	width: 820px;
	height: 310px;
	background-color: #eef4fb;
	margin-right: 30px;
	padding: 20px 0 0 30px;
}

div#left h2{
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	border-left: 10px solid #a2ad78;
	line-height: 40px;
	padding-left: 10px;
}

div#left ul{
	width: 820px;
	height: 250px;
	overflow: auto;
	padding-top: 20px;
}

div#left ul li{
	font-size: 18px;
	border-bottom: 1px solid #a2ad78;
	line-height: 49px;
}

div#left ul li span{
	font-size: 16px;
	margin-right: 18px;
}

/*========================================
　ライト
========================================*/
div#right{
	width: 520px;
	height: 330px;
}

div#right ul li{
	width: 520px;
	height: 150px;
	margin-bottom: 30px;
}

div#right ul li a{
	display: block;
	line-height: 150px;
	font-size: 40px;
	color: #545555;
	text-align: center;
	font-weight: bold;
}

div#right ul li a#sweets{
	background: url("images/sweets.jpg");
}

div#right ul li a#shop{
	background: url("images/shop.jpg");
}

/*========================================
　フッター
========================================*/
footer{
	width: 100%;
	height: 100px;
	background-color: #a2ad78;
	margin-top: 30px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 100px;
}
