@charset "utf-8";
/* CSS Document */

/*ここからサンプル画像用CSS*/
.imagesample{
	width: 444px;
	height: 250px;
	object-fit: cover;
}
/*ここまでサンプル画像用CSS*/

  body {
  	  text-align: center;
    }

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px; /* 角を丸くするなら */
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

/* 全デバイス共通のスタイル */
.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .swiper-slide img {
    width: 90%;  /* 少し小さめに */
    margin: 0 auto;
  }
}