@charset "utf-8";
/* CSS Document */

/*ここからサンプル画像用CSS*/
.imagesample{
	width: 440px;
	height: 170px;
	object-fit: cover;
}
/*ここまでサンプル画像用CSS*/

  body {
    text-align: center;
  }

  .fadein {
    opacity: 0;
    transition: all 0.8s ease;
  }

  .fadein.left {
    transform: translateX(-50px);
  }

  .fadein.right {
    transform: translateX(50px);
  }

  .fadein.active {
    opacity: 1;
    transform: translateX(0);
  }