@charset "utf-8";
/* CSS Document */

/*ここからサンプル画像用CSS*/
.imagesample{
	width: 700px;
	height: 150px;
	object-fit: cover;
}
/*ここまでサンプル画像用CSS*/

/*ここから課題*/

body {
  text-align: center;
}

#drop-down-menu {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	display: flex;          /* 横並びにする */
    justify-content: center;/* 中央揃え！ */
    align-items: center;
}

#drop-down-menu li {
	width: 200px;
	position: relative;
}

#drop-down-menu li a {
	text-decoration: none;
  	color: #FFF;
  	background-color: #FFA6E5;
  	display: block;
  	padding: 5px;
	line-height: 40px;/* ←高さを統一できる */
}

#drop-down-menu li:hover a {
  	background-color: #F2D2ED;
	color: #FFA6E5;
	margin: 1px;
}

#drop-down-menu li ul {
  	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: none;
}

#drop-down-menu li:hover ul {
	display: block;
}

#drop-down-menu li ul a {
  	display: block;
  	text-decoration: none;
  	color: #FFFFFF;
}

/* ▼ドロップダウン部分の文字色変化 */
#drop-down-menu li:hover .dropdown-content a {
  color: #fff; 
}

/* ▼ドロップダウン部分の文字色変化（マウスが乗った時だけ）*/
#drop-down-menu .dropdown-content ul li:hover a {
  color: #552b0b;
  background-color: #FAFFC1;
}


#drop-down-menu:after {
	content: "";
  	clear: both;
  	display: block;
}

/* ▼ChatGPT提案 ドロップダウンメニューを横向きにする*/

.dropdown-content {
  position: absolute;
  border: 2px solid #fff;
  z-index: 100;
  border-radius: 5px; 
}

/*.arrow::after {
  content: "▼"; 
/* 矢印マークを追加 */
/* 矢印のサイズ調整 */
 /* 矢印の色 */