@charset "utf-8";
/* CSS Document */

/*ここからサンプル画像用CSS*/
.imagesample{
	width: 330px;
	height: 145px;
	object-fit: cover;
}
/*ここまでサンプル画像用CSS*/


body {
  text-align: center;
}

button {
  vertical-align: middle;
}

/*====================================
  button
====================================*/
.btn {
  margin-left: 30px;
  padding: 30px 80px;
  font-size: 25px;
  border: 2px solid #FF93F9;
  background-color: #FFF;
  color: #FF93F9;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* アニメーションの設定 */
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #FF93F9;
  color: #FFF;
  transform: scale(1.1); /* ホバー時に少し拡大 */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/*====================================
  リンク
====================================*/
.btn-circle {
  margin-left: 30px;
  padding: 30px 80px;
  font-size: 25px;
  background: #fff;
  border: 2px solid #31A6DF;
  color: #31A6DF;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition-duration: .4s;
  z-index: 2;
}

.btn-circle::after {
  background: #31A6DF;
  border-radius: 50%;
  content: "";
  display: block;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 100%;
  height: 0;
  z-index: -1;
  transform: translateY(-50%) scale(0.1);
  transition: opacity .5s, transform 0s;
  transition-delay: 0s, .4s;
}
 
.btn-circle:hover {
  color: #fff;
}

.btn-circle:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
  transition-delay: 0s;
  transition: opacity .8s, transform .6s ease-in-out;
}

/*====================================
  こちらをクリック
====================================*/
.btn-slip {
  margin-left: 30px;
  padding: 20px 60px;
  font-size: 25px;
  color: #fff;
  background: transparent;
  border: none;
  position: relative;
  border-radius: 0;
  z-index: 1;
}

.btn-slip::before,
.btn-slip::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.btn-slip::before {
  background: #ffb509;
  border: 2px solid #ffb509;
  z-index: -1;
}

.btn-slip::after {
  background: #fff6dc;
  z-index: -2;
}

.btn-slip:hover {
  color: #ffb509;
  transform: translate(2px, 2px)
}

.btn-slip:hover::before {
  background: transparent;
}
 
.btn-slip:hover::after {
  top: 15px;
  left: 15px;
}

/*.btn-3d {
  padding: 50px 100px;
  font-size: 30px;
  border: 2px solid #33C500;
  background-color: #33C500;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-3d:hover {
  transform: translateY(-5px); /* 上に浮かせる */
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 影を強くして立体感を出す */


/*.btn-float {
  padding: 50px 100px;
  font-size: 30px;
  border: 2px solid #FF93F9;
  background-color: #FFF;
  color: #FF93F9;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-float:hover {
  transform: translateY(-20px);
  box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.1);
}


/*.btn-shadow {
  padding: 50px 100px;
  font-size: 30px;
  border: 2px solid #FF93F9;
  background-color: #FFF;
  color: #FF93F9;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;	
}

.btn-shadow:hover {
  box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.3); /* ホバー時に影を強くする */


/*.btn-scale {
  padding: 50px 100px;
  font-size: 30px;
  border: 2px solid #FF93F9;
  background-color: #FFF;
  color: #FF93F9;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.btn-scale:hover {
  background-color: #FF93F9;
  color: #FFF;
  font-size: 18px; /* ホバー時に文字サイズが大きくなる */
