@charset "utf-8";

/*====================================
  全体設計
====================================*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	background-color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	color: #2b2b2b;
	cursor: url("../images/nikukyuu_32x32.png") 16 16, auto !important;
}

div#wrapper{
	width: 100%;
	margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
  background: linear-gradient(to top, #f6eee9 0%, #ffffff 100%);
  color: #333;
  
}

/* 共通の内側レイアウト用クラスとして再利用 */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*====================================
  ヘッダー
====================================*/
header{
	width: 100%;
	height: 200px;
}

div#header_inner{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

h1{
	height: 47px;
}

div#contact{
	width: 70px;
	height: 70px;
}

div#nav{
	width: 100%;
	background-color: #552b0b;	
}

nav ul{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

nav ul li{
	width: 200px;
}

nav ul li a{
	width: 200px;
	height: 40px;
	padding-top: 10px;
	background-color: #552b0b;
	border-left: 2px solid #fff;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
}

nav ul li a span{
	font-size: 14px;
	font-weight: normal;
}

nav ul li a:last-child{
	border-right: 2px solid #fff;
}

nav ul li a:hover{
	background-color: #784D30;
}


/* メインビジュアル */
.concept {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 40px;
}

.main-cat {
  width: 65%;
  border-radius: 10px;
}

.concept-text {
  width: 35%;
  padding: 20px;
}

.concept-text h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.concept-text h3 {
  font-size: 2em;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* 詳細説明 */
.detail {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せ */
  gap: 60px; /* 写真とテキストの間隔を広めに */
  max-width: 1000px; /* 最大幅を設定 */
  margin: 0 auto; /* 中央寄せ */
  padding: 60px 20px;
}


.detail-img img {
  width: 350px;
  border-radius: 15px;
}


.detail-text {
  max-width: 500px;
  line-height: 2;
}

.detail-text .spaced {
  margin-top: 2em;
  margin-bottom: 2em;
}



/* 音符 */
.music-line img {
  width: 100%;
  display: block;
  margin: 40px 0;
}

/* 黒猫紹介 */
.cats {
  text-align: center;
  padding: 40px;
}

.cat-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.cat-gallery img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.more-btn a {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.bg-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-repeat: repeat;
  pointer-events: none;
  z-index: -1;
}

/* 各猫画像を背景として設定 */
.cat1 {
  background-image: url("../images/ashiato.png");
  background-size: 150px auto;
  background-position: 0 0;
}



/*====================================
  フッター
====================================*/


footer{
	width: 100%;
	height: 150px;
	background-color: #552b0b;
	margin-top: 85px;
}

div#footer_inner{
	width: 100%;
	height: 150px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

div#logo{
	display: flex;
	align-items: flex-end;
}

div#logo img{
	height: 100px;
}

div#logo p{
	font-size: 20px;
	line-height: 1;
	margin-left: 10px;
	color: #fff;
}

footer ul{
	display: flex;
}

footer ul li{
	border-left: 1px solid #fff;
	padding: 0 10px;
}

footer ul li:first-child{
	border-left: none;
}

footer ul li a{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

footer ul li a:hover{
	text-decoration: underline 2px solid #fff;
}

div#pagetop{
	width: 80px;
	height: 20px;
	background-color: #552b0b;
	text-align: center;
	position: absolute;
	top: -20px;
	right: 0;
}

div#pagetop p a{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	display: block;
}







